<h2>{{ challenges[currentStep].question }}</h2>

<!-- Type: Image -->
<div *ngIf="challenges[currentStep].type === 'image'" class="image-grid">
  <div
    *ngFor="let img of challenges[currentStep].images"
    [class.selected]="isSelected(img)"
    (click)="toggleImageSelection(img)"
    class="captcha-img"
  >
    <img [src]="'assets/images/' + img" [alt]="img" />
  </div>
</div>

<!-- Type: Math -->
<div *ngIf="challenges[currentStep].type === 'math'">
  <input type="number" formControlName="mathAnswer" placeholder="Votre réponse" />
</div>

<!-- Type: Text -->
<div *ngIf="challenges[currentStep].type === 'text'">
  <input type="text" formControlName="textAnswer" placeholder="Votre réponse" />
</div>

<div class="buttons">
  <button (click)="previous()" [disabled]="currentStep === 0">Précédent</button>
  <button (click)="next()">Suivant</button>
</div>
